@import url('common.css');

header {
    background: url('../images/new pine and shine.jpg') no-repeat center center/cover;
}

.about-section {
    padding: 50px;
    background-color: #161b22;
    max-width: 800px;
    margin: 0 auto;
}

.about-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 1.1em;
    line-height: 1.6em;
    color: #6e89ac;
}

.about-section ul {
    list-style-type: none; /* Removes the default bullets */
    padding: 0; /* Removes the default padding */
}

.about-section ul li {
    font-size: 1.1em;
    line-height: 1.6em;
    color: #6e89ac;
    padding-left: 20px; /* Adds space before each list item */
    position: relative;
}

.about-section ul li::before {
    content: '•'; /* Adds a custom bullet */
    color: #6e89ac; /* Bullet color */
    position: absolute;
    left: 0;
    font-size: 1.3em; /* Increases bullet size */
    line-height: 1.6em;
}
