@import url('common.css');

header {
    background: url('../images/nature.jpg') no-repeat center center/cover;
    overflow: hidden;
    /* Ensure content doesn't overflow */
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    border: 3px solid #fff;
}

.intro-section {
    padding: 50px;
    background-color: #161b22;
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    /* Ensure content doesn't overflow */
}

.intro-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.intro-section p {
    font-size: 1.1em;
    line-height: 1.6em;
    color: white;
}

.auto-type {
    color: orange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        background: url('../images/nature.jpg') no-repeat center center/cover;
        font-size: 0.7em;
        overflow: hidden;
        /* Ensure content doesn't overflow */
    }

    .intro-section {
        padding: 20px;
        max-width: 100%;
    }

    .intro-section p {
        font-size: 0.6em;
    }

    .profile-pic {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 576px) {

    body,
    html {
        overflow-x: hidden;
        /* Prevent horizontal scroll */
    }

    .profile-pic {
        width: 100px;
        height: 100px;
        top: 30%;
    }

    .intro-section p {
        font-size: 0.6em;
    }

    header h1 {
        font-size: 1.8em;
        position: relative;
        top: -20px;
        left: 55px;
        white-space: nowrap;
        /* Prevent text wrapping */
    }

    header h2 {
        font-size: 1.8em;
        position: relative;
        top: 40px;
        white-space: nowrap;
        /* Prevent text wrapping */
    }

    header p {
        font-size: 1.1em;
        position: relative;
        top: 50px;
        white-space: nowrap;
        /* Prevent text wrapping */
    }

    .auto-type {
        color: orange;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1em;
        position: relative;
        white-space: nowrap;
        /* Prevent text wrapping */
    }
}