@import url('common.css');

header {
    background: url('C:/Users/Msi/Desktop/myWeb/images/star and pine and shine.jpeg') no-repeat center center/cover;
}

.form-section {
    padding: 50px;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    flex: 1;
    margin-right: 20px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container form input,
.form-container form textarea {
    background-color: black;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid gray;
    border-radius: 5px;
}

.form-container form button {
    font-size: 1em;
    padding: 10px 20px;
    color: #fff;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;

}

.form-container form button:hover {
    background-color: rgba(128, 128, 128, 0.645);
}